*.toc linguist-detectable=false
*.html linguist-detectable=false
*.ps1 linguist-detectable=false
*.c linguist-detectable=false
*.py linguist-detectable=true
*.cpp linguist-detectable=true
*.h linguist-detectable=true
build/main linguist-detectable=false